{
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "prettier/prettier": 2,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/imports-first": 0,
    "import/prefer-default-export": 0,
    "jsx-a11y/label-has-for": 0,
    "react/require-extension": 0
  }
}
